body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    width: 100%;
    background-color: rgb(7, 172, 7);
    color:#fff;

}
header div{
    display: flex;
}
header div h1{
    margin:0 28px;
    padding: 0;
}
.vertical-line {
    border-left: 2px solid white; 
    height: 50px;
}
.nav-buttons{
 margin-right: 80px;
}
.nav-buttons button{
    width:78px;
    padding:2px 0;
    font-size: 16px;
    font-weight: 600;
    margin: 0 6px;
}
main{
    margin: 0 40px;
}
.images-section{
    display: flex;
    justify-content: center;
}
.images-section img{
    width:100px;
    height: 100px;
    margin: 28px 12px;
    object-fit: cover;
   
}
.horizonatal-line{
    border-width: 0; 
    background-color: black;
    height: 4px;
    margin-right: 1030px;
}
.para-section p{
    text-indent: 54px;
    margin-bottom: 2px;
}
.cards-section{
    display: flex;
    /* margin: 0 20px; */
    width:100%;
    /* border: 1px solid red; */
    overflow-x: scroll;
}
.card{
    border:1px solid black;
    display: flex;
    flex-shrink: 0; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width:280px;
    height: 350px;
    border:1px solid rgb(30, 30, 179);
    margin: 40px 12px;
    position: relative;

}
.card img{
    height:60%;
    width:100%;
    object-fit: cover;
}
.card p{
    margin: 0 10px;
    /* overflow-X: scroll; */
}
.icons{
    display: flex;
    position:absolute;
    left: 0;
    top:4px;
}
.icons a{
    border:1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width:35px;
    height: 35px;
    margin: 0 6px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    color:black;
}
.facebook-icon, .insta-icon, .youtube-icon{
    font-size: 30px;;
}