body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    border:2px solid black;
    justify-content: center;
    /* align-items: center; */
    width: 40%;
    height: 70%;
    margin-top: 6rem;
    padding: 0 16px;
}
.container h1{
    color:rgb(7, 172, 7)
}
.email, .password{
    height:26px;
    margin-bottom: 18px;
}
.submit-btn{
    background-color: rgb(7, 172, 7);
    font-size: 18px;
    color:white;
    border:none;
    width:120px;
    height: 28px;
    align-self: flex-end;
    margin-bottom: 24px;
}