.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width:99%;
  border:1px solid red;
}
table{
  width:50%
  
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}