body{
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    margin-left: 16px;
   
}
header h1{
    margin: 10px 0; 
}
hr{
    border-width: 0; 
    background-color: black;
   height: 4px;
}
.section1, .section3{
    display:flex;
    width:100%;
    justify-content: space-around;
    /* border:2px solid red; */
   margin-top: 16px;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding: 6px 12px;
    font-size: 16px;
  }
.section1 table{
    width:55%;
    margin-left: 18px;
    margin-bottom: 19px;
}
.section1 th{
    color:red;
}
.EmpImages{
    width:45%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 12px;
}
.EmpImages img{
    width:250px;
    height:150px;
    margin: 0px 10px 19px 10px;
  object-fit: cover;
}
.section2 p{
  margin-left: 52px;
  text-indent: 70px;
}
.section3 table{
    width:20%;
    margin-left: 18px;
    margin-bottom: 19px;
}
.section3 th{
    color:navy;
}
.section3 tr:nth-child(even){
    background-color: rgb(234, 230, 230);
}
.section3 tr:nth-child(even):hover{
    background-color: rgb(194, 190, 190);;
}
.section3 img{
    height:300px;
    width:50%;
    object-fit: cover;
    margin-bottom: 20px;
}